.postsBlock {
    display: flex;
    flex-direction: column;

    padding: 15px;

    /*margin-bottom: 20%;*/
}

.postTools h3 {
    margin-bottom: 20px;
    font-size: 26px;
}


.posts {
    margin-top: 15px;
}
