.Header {
    position: relative;
    height: 100px;
    background-color: #213155;
    display: flex;
    justify-content: space-between;
}

.Header img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.Logo {
    border: 2px solid #213155;
    border-radius: 50%;

    margin-left: 5px;
}

.loginBlock p {
    color: whitesmoke;
    text-decoration: none;

    margin: 10px 20px 0 0;
}

.loginAndLogout {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: end;
}

.loginAndLogout button img {
    position: absolute;
    right: 5%;
    top: 60%;
    width: 40px;
    height: 40px;
    color: whitesmoke;
    cursor: pointer;
}